# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env.bak/
venv.bak/

# Database & SQLite
*.db
*.sqlite3
campus_event_pro.db

# Storage / Dynamic Uploads
backend/static/
backend/uploads/
backend/certificates/*.pdf
backend/qrcodes/*.png

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Environment variables
.env
